@model projectIT.Models.Performance

@{
    ViewBag.Title = "ShowSeats";
}

<h2>ShowSeats</h2>

<div>

    <ul>
        @foreach (projectIT.Models.Seat p in Model.Seats)
        {
            if (p.status == false)
            {
                <li>


                    <input type="checkbox" name="selectedStatus" value="@p.status" /> @p.SeatNumber


                </li>
            }


        }
    </ul>

    <input type="submit" name="submit" value="Submit" />
</div>




